{% extends 'core/base.html' %}
{% block content %} 
<div class="container mt-5">
 <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
   <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
   <h3>Back-End Development</h3>
   <p class="ss-color">Developing server-side logic using programming languages like Python, Django or MySql.</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-palette fa-2x mb-3 i-color"></i>
   <h3>Front-End Development</h3>
   <p class="ss-color">Building responsive and user-friendly web interfaces using HTML, CSS, and JavaScript.</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-code fa-2x mb-3 i-color"></i>
   <h3>Web Development</h3>
   <p class="ss-color">Collaborating with cross-functional teams to architect, develop, and deploy web applications.</p>
  </div>
 </div>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
   <i class="fab fa-android fa-2x mb-3 i-color"></i>
   <h3>Full-Stack Development</h3>
   <p class="ss-color">Integrating front-end and back-end technologies to create end-to-end web solutions.</p>
  </div>
  <div class="col-sm-4">
   <i class="fab fa-apple fa-2x mb-3 i-color"></i>
   <h3>Troubleshooting and Debugging</h3>
   <p class="ss-color">Conducting thorough testing and quality assurance to ensure optimal functionality.</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-ad fa-2x mb-3 i-color"></i>
   <h3>Continuous Learning and Adaptation</h3>
   <p class="ss-color">Staying updated with the latest web development trends, tools, and technologies.
    Embracing new challenges and opportunities for learning and growth</p>
  </div>
 </div>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
   <i class="fas fa-pencil-alt fa-2x mb-3 i-color"></i>
   <h3>Logo Design</h3>
   <p class="ss-color">A logo is the cornerstone of a brand's visual identity, encapsulating its essence in a single mark. .</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-database fa-2x mb-3 i-color"></i>
   <h3>Hosting</h3>
   <p class="ss-color">Knowledgeable in domain registration, DNS configuration, and domain name system management.</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-headset fa-2x mb-3 i-color"></i>
   <h3>Remote Assistance</h3>
   <p class="ss-color">Experienced in delivering remote technical assistance through phone, email, chat, and remote desktop applications, ensuring minimal disruption to end-users' productivity..</p>
  </div>
 </div>

</div>
{% endblock content %}